extends ../shared/template
block content
  #add
    #visibility
      button.orange#hide Hide Form
      button.orange#show Show Form
    form(method='post', action='/recipes')
      label Name:
      input(name='name', type='text', placeholder='Chicken')
      label Image:
      input(name='photo', type='text', placeholder='URL')
      label Category
      select(name='category')
        option(value='breakfast') Breakfast
        option(value='lunch') Lunch
        option(value='dinner') Dinner
      label Ingredients:
      input(name='ingredients', type='text', placeholder='chicken, salt, squash')
      label Directions (seperate each step with ;)
      textarea(name='directions', placeholder='Cook; eat; repeat')
      button.terq Add Recipe
  #filters
    a.breakfast(href='#') breakfast
    a.lunch(href='#') lunch
    a.dinner(href='#') dinner
  #recipes
    each recipe in recipes
      include recipe

block scripts

