extends ../shared/template
block content
  #add
    #visibility
      button.orange#hide Hide Form
      button.orange#show Show Form
    form(method='post', action='/recipes')
      label Name:
      br
      input(name='name', type='text', placeholder='Chicken')
      br
      label Image:
      br
      input(name='photo', type='text', placeholder='URL')
      br
      label Ingredients:
      br
      input(name='ingredients', type='text', placeholder='chicken, salt, squash')
      br
      label Directions (seperate each step with ;)
      br
      textarea(name='directions', placeholder='Cook, eat, repeat')
      br
      button.terq Add Recipe
  #recipes
    each recipe in recipes
      include recipe

block scripts

