@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

body {
  background-color: #dddddd;
}

#wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
input, textarea, label{
  display: block;
}
input, textarea, select {
  width: 250px;
}
#add {
  margin-bottom: 5px;
}

#add > form {
  border: 2px dashed black;
  padding: 10px;
  display: inline-block;
}

#recipes, #add, #filters {
  position: relative;
  text-align: center;
}

#filters {
  margin: 10px 0;
}

#filters a {
  margin: 10px;
}

#recipes > * {
  vertical-align: top;
}

.recipe {
  display: inline-block;
  position: relative;
  overflow: hidden;
  bottom: 5px;
  background-color: white;
  width: 300px;
  height: 650px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 20px;
}

.recipe div:first-of-type {
  font-weight: bold;
  font-size: 20px;
}

.recipe ul, .recipe ol {
  padding: 5px;
  margin-left: 15px;
  text-align: left;
}

.recipe ul {
  list-style-type: disc;
  text-align: left;
}

.recipe ol {
  text-align: left;
  list-style-type: decimal;
}

.recipe li {
  margin-left: 5px;
  margin: 3px 0;
}

.recipe button {
  position: absolute;
  right: 10px;
  top: 10px;
}

.photo {
  position: relative;
  display: inline-block;
  height: 200px;
  width: 300px;
  background-size: cover;
}
